.service_sec .inner_ .item{
    border: 1px solid #ccc;
    padding: 2em;
}
.service_sec .inner_{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-gap: 2em;
}
.service_sec .inner_ .btn_wrap{
    grid-column: 1 / -1;
    margin: 0 auto;
}

.p_detail_ .inner_{
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 4em;
}
.p_detail_ .inner_ .lf_ {
    border: 1px solid#ccc ;
    padding: 2em;
}
.p_detail_ .inner_ .lf_ img{
    width: 80%;
}
.p_detail_ .inner_ .rgt_ h1 {
    margin-top: 0;
    line-height: 1;
}
.p_detail_ .inner_ .rgt_ .price strong{
    color: brown;
    font-size: 1.4rem;
}
.p_detail_ .inner_ .rgt_ .price{
    color: cornflowerblue;
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cart_btn .btn_{
    background: cadetblue;
    color: #000;
    border: none;
    padding: .5em 2em;
    font-size: 1rem;
    margin-top: 1em;
    cursor: pointer;
}
.cart_btn .btn_ span{
    margin-inline-start: .5em;
}


.filter_wrap{
    display: flex;
    grid-gap: 1em;
    justify-content: center;
    margin: 2em 0;
}

.filter_wrap li{}
