body{
    
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{

}

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    align-items: center;
}
.navBar h1{
    margin: 0;
    font-size: 3rem;
    line-height: 1;
}
.navBar ul {
    display: flex;
}
.navBar ul li{
    margin: 0 20px;
}
.navBar ul li a{
    color: #000;
}
.navBar .menu{
    display: flex;
}
.burgerMenu{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    z-index: 1;
    transition: all .5s ease;
    transform: translateX(100%);
}
.burgerMenu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.burgerMenu ul li a{
    color: #fff;
    font-size: 4rem;
}

.openmenu .burgerMenu{
    transform: none;
}

.menu_btn{
    position: relative;
    z-index: 5;
    color: red;
    cursor: pointer;
}